android/app/build/
android/build/
android/.gradle/3.5.1/taskHistory/taskHistory.lock
android/.gradle/3.5.1/taskHistory/taskHistory.bin
android/.gradle/3.5.1/taskHistory/fileSnapshots.bin
android/.gradle/3.5.1/fileContent/fileContent.lock
